<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Panel</title>
    <link rel="stylesheet" href="/css/student.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="/images/download.jpg" alt="School Logo" id="img">
                <h1>Sabri Public High School</h1>
            </div>
            <ul class="nav-links">
                <li><a href="home.html">Home</a></li>
                <li><a href="community.html">Community</a></li>
                <li><a href="logout.html">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="student-panel">
            <h2>Welcome, <%= student.fullName%></h2>
            <div class="button-container">
                    <button onclick="location.href='/student/view-marks/<%= student.rollNumber %>'">View Marks</button>
                    <button onclick="location.href='/student/view-attendance/<%= student.rollNumber %>'">View Attendance</button>
                    <button onclick="location.href='/student/view-result/<%= student.rollNumber %>'">View Annual Result</button>
                
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Sabri Public High School, Chak 313 JB. All Rights Reserved.</p>
    </footer>

    <script src="/javascript/student.js"></script>
</body>
</html>